<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Venta_Boleteria.Properties.Settings.Venta_BoleteriaConnectionString"
            connectionString="Data Source=DUALIDADPC\SQLEXPRESS;Initial Catalog=Venta_Boleteria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>